.block-radio-poll {
  background-color: $section-item-color;
  padding: 42px 71px 42px 22px;

  h3 {
    font-family: $font-name;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: $bright-text-color;
    margin-bottom: 40px;
  }
}
