.block-radio-poll {
  background-color: #f2f2f2;
  padding: 42px 71px 42px 22px;

  h3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #d22856;
    margin-bottom: 40px;
  }
}
