.fieldset-form-poll {
  background-color: #ffffff;
  padding: 54px 20px 44px;
}

.fieldset-form-poll__title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #283645;
  margin-bottom: 55px;
}

