.form-poll {
  .form-poll__title {
    font-family: $font-name;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: $bright-text-color;
  }

  .form-poll__input-text {
    font-family: $font-name;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: $avtor-text-color;
  }
}
