fieldset {
  border: 0 none;
  padding: 0;
  margin: 0;
}

.fieldset-form-poll {
  background-color: #ffffff;
  padding: 54px 20px 44px;
}

.fieldset-form-poll__title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #283645;
  margin-bottom: 55px;
}

.form-poll {
  .form-poll__title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #d22856;
  }

  .form-poll__input-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #283645;
  }
}

.checkbox-form {
  padding: 42px 41px 44px 22px;
  background-color: #f2f2f2;

  h3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #d22856;
    margin-bottom: 44px;
  }
}

.checkbox-poll {
  display: flex;

  .checkbox-poll__checkbox {
    margin-right: 22px;
  }

  .checkbox-poll__text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #283645;
  }
}

.block-form {
  padding: 42px 22px 44px 22px;
}

.block-radio-poll {
  background-color: #f2f2f2;
  padding: 42px 71px 42px 22px;

  h3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #d22856;
    margin-bottom: 40px;
  }
}

.radio-poll {
  display: flex;

  .radio-poll__radio {
    margin-right: 31px;
  }

  .radio-poll__text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #283645;
  }
}

.block-description-poll {
  padding: 42px 22px 26px;

  h3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #d22856;
    margin-bottom: 22px;
  }
}

.block-description-poll__description {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #283645;
  margin-bottom: 52px;
  }

.block-sending__submit-button {
  width: 276px;
  height: 59px;
  background: #2aab6d;
  border: 2px solid #2aab6d;
  border-radius: 1px;
  margin-bottom: 46px;

  span {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    }
  }

.block-sending__text {
  margin: 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #283645;

  span {
    color: #d22856;
  }
}
