.block-title {
  padding: 29px 20px 34px;
  order: -1;

  h2 {
    font-family: $font-name;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 120%;
    color: $white;
    text-align: center;
  }
}

@media (min-width: $tablet-version) {
  .block-title {
    padding: 102px 20px 34px;
    z-index: 2;

    h2 {
      box-sizing: border-box;
      font-family: $font-name;
      font-style: normal;
      font-weight: 300;
      font-size: 50px;
      line-height: 68px;
      display: flex;
      align-items: center;
      text-align: center;
      color: $white;
      width: 300px;
    }
  }
}

@media (min-width: $decopant-version) {
  .block-title {
    position: relative;
    padding: 130px 0 51px 130px;
  }
}
