.block-overlay {
  height: 275px;

  img:nth-child(2) {
    display: none;
  }

  img:nth-child(3) {
    display: none;
  }
}

@media (min-width: $tablet-version) {
  .block-overlay {
    position: absolute;
    top: 74px;
    z-index: 1;

    img:nth-child(1) {
      display: none;
    }

    img:nth-child(2) {
      display: initial;
    }

    img:nth-child(3) {
      display: none;
    }
  }
}

@media (min-width: $decopant-version) {
  .block-overlay {
    position: absolute;
    top: 98px;
    left: 144px;
    z-index: 1;

    img:nth-child(1) {
      display: none;
    }

    img:nth-child(2) {
      display: none;
    }

    img:nth-child(3) {
      display: initial;
    }
  }
}
