.header-block {
  background-image: url("../img/mobile/mobile-background/back-mobile.jpg");
  background-repeat: no-repeat;
  width: 100%;
  min-height: 462px;
}

@media (min-width: $tablet-version) {
  .header-block {
    background-image: url("../img/background/back-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 729px;
    box-sizing: border-box;
  }
}

@media (min-width: $decopant-version) {
  .header-block {
    background-image: url("../img/background/back-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 853px;
  }
}
