.main-header {
  background-color: $header-color;
  height: 66px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 21px 18px 20px;

  svg:nth-child(2) {
    display: none;
  }

  svg:nth-child(3) {
    display: none;
  }
}

@media (min-width: $tablet-version) {
  .main-header {
    display: flex;
    height: 110px;
    box-sizing: border-box;

    svg:nth-child(2) {
      display: initial;
    }

    svg:nth-child(1) {
      display: none;
    }

    svg:nth-child(3) {
      display: none;
    }
  }
}


@media (min-width: $decopant-version) {
  .main-header {
    padding: 27px 0 43px 130px;

    svg {
      margin-right: 173px;
    }

    svg:nth-child(3) {
      display: initial;
    }

    svg:nth-child(1) {
      display: none;
    }

    svg:nth-child(2) {
      display: none;
    }
  }
}
