.block-prices {
  margin-left: 95px;
  text-align: center;

  b {
    font-family: $font-name;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    color: $white;
    margin-bottom: 15px;
  }

  p {
    font-family: $font-name;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: $white;
    margin: 0;
  }
}

@media (min-width: $tablet-version) {
  .block-prices {
    margin-left: 44px;
    padding: 0;

    b {
      font-family: $font-name;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 30px;
      text-transform: uppercase;
      color: $white;
      margin-bottom: 15px;
    }

    p {
      font-family: $font-name;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 30px;
      text-transform: uppercase;
      color: $white;
      margin: 0;
    }
  }
}
