.colum-filter {
  display: none;
  padding-top: 136px;
  box-sizing: border-box;

  p {
    margin: 0;
    border: 2px solid $section-item-color;
    height: 45px;
    width: 153px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: $tablet-version) {
  .colum-filter {
    display: initial;
  }
}
