.feedback-section {
  background-color: #ffffff;
  text-align: center;
  padding: 50px 40px 74px;
}


.feedback-section__title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  color: #283645;
  margin-bottom: 45px;
}

.feedback-section__group {
  b {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #283645;
  }

  p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    color: #d22856;
  }
}
