.feedback-section {
  background-color: $white;
  text-align: center;
  padding: 50px 40px 74px;
}


.feedback-section__title {
  font-family: $font-name;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  color: $avtor-text-color;
  margin-bottom: 45px;
}

.feedback-section__group {
  b {
    font-family: $font-name;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: $avtor-text-color;
  }

  p {
    margin: 13px 0 31px;
    font-family: $font-name;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    color: $bright-text-color;
  }
}

@media (min-width: $tablet-version) {
  .feedback-section {
    background-color: $white;
    text-align: center;
    padding: 50px 40px 74px;
  }

  .feedback-section__title {
    font-family: $font-name;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 54px;
    display: flex;
    align-items: center;
    text-align: center;
    color: $avtor-text-color;
  }

  .feedback-section__wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: min-content min-content;

    :nth-child(3n) {
      margin-top: 55px;
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

  .feedback-section__group {
    b {
      font-family: $font-name;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 25px;
      color: $avtor-text-color;
    }

    p {
      margin: 17px 0 0;
      font-family: $font-name;
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      line-height: 33px;
      color: $bright-text-color;
    }
  }
}

@media (min-width: $decopant-version) {
  .feedback-section {
    background-color: $white;
    text-align: center;
  }

  .feedback-section__title {
    font-family: $font-name;
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $avtor-text-color;
  }

  .feedback-section__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    :nth-child(3n) {
      margin: 0;
      order: 1;
    }

    :nth-child(2n) {
      margin: 0;
      order: 2;
    }
  }

  .feedback-section__group {
    b {
      font-family: $font-name;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 25px;
      color: $avtor-text-color;
    }

    p {
      margin: 17px 0 0;
      font-family: $font-name;
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      line-height: 33px;
      color: $bright-text-color;
    }
  }
}

