.form-table {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  background-color: $white;
}

@media (min-width: $tablet-version) {
  .form-table {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    position: relative;
    width: 616px;
  }
}

@media (min-width: $decopant-version) {
  .form-table {
    background-color: $white;
    width: 940px;
  }
}
