.item__title {
  font-family: $font-name;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: $title-color;
}

.item__text {
  font-family: $font-name;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $avtor-text-color;
}
