.map {
  position: relative;

  iframe {
    display: block;
    border: none;
    width: 100%;
    height: 200px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    height: 32px;
    clip-path: polygon(100% 0, 50% 100%, 0 0);
    background-color: $white;
  }
}

@media (min-width: $tablet-version) {
  .map {
    iframe {
      height: 374px;
    }
  }
}

@media (min-width: $decopant-version) {
  .map {
    iframe {
      height: 502px;
    }
  }
}
