.platform-section {
  text-align: center;
  background-color: $header-bgColor;
  padding: 28px 20px;
}

.platform-section__download {
  margin-bottom: 38px;
  width: 280px;
  height: 55px;
  border: 3px solid $white;
  box-sizing: border-box;
  border-radius: 29px;
  background-color: $transparent;
  cursor: pointer;

  &:hover {
    background-color: $white;

    span {
      color: $bright-text-color;
    }
  }

  span {
    font-family: $font-name;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: $white;
  }
}

.platform-section__text {
  margin: 0;
  font-family: $font-name;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: $white;
}

@media (min-width: $tablet-version) {
  .platform-section__download {
    margin-bottom: 46px;
  }

  .platform-section {
    margin-left: 20px;
    padding: 0;
    text-align: left;
    position: relative;
    z-index: 2;
    background-color: $transparent;
  }

  .platform-section__text {
    font-family: $font-name;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    color: $white;
    box-sizing: border-box;
    width: 300px;
  }
}


@media (min-width: $decopant-version) {
  .platform-section__download {
    margin-bottom: 51px;
  }

  .platform-section {
    margin-left: 130px;
  }
}
