.sentence-block {
  background-color: $white;
  padding: 46px 20px 36px;
}

.sentence-block__title {
  font-family: $font-name;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: $avtor-text-color;

  span {
    margin-top: 48px;
    display: block;
  }
}

@media (min-width: $tablet-version) {
  .sentence-block {
    padding: 59px 36px 19px;
  }

  .sentence-block__title {
    font-family: $font-name;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 54px;
    text-align: center;
    color: $avtor-text-color;

    span {
      margin: 0;
    }
  }
}

@media (min-width: $decopant-version) {
  .sentence-block__title {
    font-family: $font-name;
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 68px;
    text-align: center;
    color: $avtor-text-color;
  }
}
