.tilted {
  background: #d22856;
  transform: rotate(-45deg);

  p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #ffffff;
  }

}
