.block-developer {
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-family: $font-name;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: $photo-subtitle;
    margin: 0 15px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
