.footer {
  text-align: center;
  padding: 40px 70px 40px;
}

.footer__logo-block {
  svg {
    margin-right: 12px;
    margin-bottom: 38px;
  }
}

.block-icon {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    margin-right: 46px;
  }
}

.block-developer {
  display: flex;

  p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #283645;
    margin: 0 15px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
