.block-photo {
  padding: 54px 20px;
}

.block-photo__title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
}

.day-block {
  position: relative;
}

.form-text {
  height: 36px;
  width: 140px;
  background-color: #d22856;
}

.form-text__text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

