.block-comment {
  min-width: 280px;
  min-height: 192px;
  padding: 25px 10px 26px 17px;
  background-color: $section-item-color;
}

.block-comment__name {
  font-family: $font-name;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: $avtor-text-color;
  display: flex;
  align-items: center;
  text-align: center;

  span {
    font-family: $font-name;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
  }
}

.block-comment__text {
  margin: 0;
  font-family: $font-name;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $avtor-text-color;
  margin-bottom: 23px;
}
