h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  background: #ffffff;
  width: 320px;
  margin: 0 auto;
  font-size: 16px;
  font-family:"Open Sans";
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

fieldset {
  border: 0 none;
  padding: 0;
  margin: 0;
}
