/* цвета */

$header-color: rgba(0, 0, 0, 0.3);
$white: #ffffff;
$header-bgColor: #1d2631;
$section-item-color: #f2f2f2;
$filterbg:#283645;
$avtor-text-color:#283645;
$title-color: #000000;
$photo-subtitle: #283645;
$text-color:#f2f2f2;
$form-color: #d22856;
$bright-text-color: #d22856;
$btn-color: #2aab6d;
$transparent: rgba(0, 0, 0, 0);

/* шрифты */

$font-name: "Open Sans", sans-serif;

/* разрешения */

$mobile-version: 320px;
$tablet-version: 660px;
$decopant-version: 1200px;
